<div class="container col-md-6">

    <form (ngSubmit)="stepRegister()">
      <div class="mb-3">
        <label for="regId">Username</label>
        <input type="number" class="form-control" id="regId" name="regId" placeholder="Reg Id" [(ngModel)] = "stepReg.regId">
      </div>
        <div class="mb-3">
          <label for="user">Username</label>
          <input type="text" class="form-control" id="user" name="user" placeholder="Enter Username" [(ngModel)] = "stepReg.user">
        </div>
        <div class="mb-3">
            <label for="noOfChild">Number of Childen</label>
            <input type="number" class="form-control" id="noOfChild" name="noOfChildren" placeholder="Enter Name" [(ngModel)] = "stepReg.noOfChild">
          </div>
          <div>
           
            <input type="file" name="incomeCertificate" ng2FileSelect [uploader]="uploader" [(ngModel)] = "stepReg.incomeCertificate"/>
           
           <button type="button" class="btn btn-success btn-s" 
             (click)="uploader.uploadAll()" 
             [disabled]="!uploader.getNotUploadedItems().length" >
                 Upload Income certificate
           </button>
               </div> 
          
          <div>
           
         <input type="file" name="birthCertificate" ng2FileSelect [uploader]="uploader" [(ngModel)] = "stepReg.birthCertificate"/>
        
        <button type="button" class="btn btn-success btn-s" 
          (click)="uploader.uploadAll()" 
          [disabled]="!uploader.getNotUploadedItems().length" >
              Upload birth certificate
        </button>
            </div> 

          <div class="mb-3">
            <label for="trainingSector">Training Sector</label>
            <input type="text" class="form-control" id="trainingSector" name="trainingSector" placeholder="Enter Training Sector" [(ngModel)] = "stepReg.trainingSector">
          </div>
      
          <div class="mb-3">
            <label for="ngoCourse">Ngo Course</label>
            <input type="text" class="form-control" id="ngoCourse" name="ngoCourse" placeholder="NGO course" [(ngModel)] = "stepReg.ngoCourse">
          </div>
          <div class="mb-3">
            <label for="ngoId">Ngo Course</label>
            <input type="number" class="form-control" id="ngoId" name="ngoCourse" placeholder="NGO Id" [(ngModel)] = "stepReg.ngoId">
          </div>
  
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>
  