* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
    font-size: xx-large;
  }

  #content{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
  }

  img{
    width: 200px!important;
    height: 200px!important;
  }

  p{
    text-align: justify;
    line-height: 1.6em;
}
body{
  background-image: url("http://www.niti.gov.in/sites/default/files/2021-08/women.jpg");
}
.bg{
  background-image: url("http://www.niti.gov.in/sites/default/files/2021-08/women.jpg");
    height: 100%;
    background-size: cover;
}
