<header class="site-header">
    <div class="site-identity">
      <!-- <a href="#"><img src="https://d2r2ijn7njrktv.cloudfront.net/IL/uploads/2020/06/04205618/women-and-child.png" alt="Ministry of Women and Child Development" /></a> -->
      <h1><a href="#">Non Governmental organizations(NGOs)</a></h1>
    </div>  
    <nav class="site-navigation">
      <ul class="nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink ="/criteria" routerLinkActive="active" title="Criteria">Criteria</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/organisations" routerLinkActive="active" title="Organizations">Organizations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/funding-norms" routerLinkActive="active" title="Funding Norms FAQ">Funding Norms FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/register-ngo" routerLinkActive="active" title="Register-ngo">Register</a>

            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/status" routerLinkActive="active" title="Status">STATUS</a>
            </li>
          </ul>
      </ul>
    </nav>
  </header>
 